In [3]:
prices = {
    'Acme' : 34.23,
    'AAPL' : 234.334,
    'IBM' : 222,
    'FB' : 10.34
}

In [4]:
prices.keys()

dict_keys(['AAPL', 'IBM', 'Acme', 'FB'])

In [5]:
type(prices.keys())

dict_keys

In [11]:
min_price = min(prices, key=lambda key : prices[key])
max_price = max(prices, key = lambda key : prices[key])
max_price

'AAPL'

In [12]:
#company havint the max prices
price = prices[max_price]

In [13]:
price

234.334

In [17]:
alist = [1,2,3,5,6]
blist= [6,5,4,3,2,1,4]
a = zip(alist, blist)
max(a)

(6, 2)

In [19]:
#More robust way 
#getting the maximum price and the the name of the comapny
max_price  = max(zip(prices.values(), prices.keys()))
max_price

(234.334, 'AAPL')

In [21]:
min_price = min(zip(prices.values(),prices.keys() ))
min_price

(10.34, 'FB')

In [25]:
#sorting the comapny according to the price
sorted(prices, key = lambda k : prices[k])

['FB', 'Acme', 'IBM', 'AAPL']

In [26]:
sorted(zip(prices.values(), prices.keys()))

[(10.34, 'FB'), (34.23, 'Acme'), (222, 'IBM'), (234.334, 'AAPL')]

In [28]:
#FINDING COMMON IN TWO DIFFERENT DICTIONALRY 

a = {
    'x' : 1,
    'y' : 2,
    'z' : 3
}
b = {
    'w' : 1,
    'y' : 2,
    'x' : 3
}

In [33]:
#we can perform set operation in keys since they are hasable
#we cannot perfrom set operation in values though because they can or
#cannot be hashable
a.keys() - b.keys()

{'z'}

In [31]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [37]:
a = {1,2,3,4}
b = {5,6,7,2}
#intersection
a&b

{2}

In [40]:
#a or b // Union
a | b

{1, 2, 3, 4, 5, 6, 7}

In [41]:
a.intersection(b)

{2}

In [42]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [43]:
a - b

{1, 3, 4}

In [44]:
a.difference(b)

{1, 3, 4}

In [45]:
#make a new dictionary with the the key 'x' remove in dictionary a

In [51]:
#using dictionary comprehensio
a = {
    'x' : 1,
    'y' : 2,
    'z' : 3
}
b = {key : a[key] for key in a.keys() - {'x'}}

In [52]:
b

{'y': 2, 'z': 3}

In [54]:
a = {
    'x' : 1,
    'y' : 2,
    'z' : 3
}

a.keys() - {'g', 'z'}

{'x', 'y'}

In [59]:
#REMOVING THE DUPLICSTES IN THE SEQUENCE WHILE MAINITAINING THE ORDER

In [61]:
def remove_duplicates_main_order(items):
    new_list = []
    for item in items:
        if not item in new_list:
            new_list.append(item)
    return new_list

In [62]:
alist = [3,4,5,6,7,4,5]
remove_duplicates_main_order(alist)

[3, 4, 5, 6, 7]

In [63]:
#removing the duplicates using the set and generator would be much more 
#effiecident

In [71]:
#awesome code
def remove_duplicates_main_order(items):
    '''Removing the duplicates using the set and genrator'''
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)

In [66]:
remove_duplicates_main_order(alist)

In [69]:
list(remove_duplicates_main_order(alist))

[3, 4, 5, 6, 7]

In [72]:
#the above code only works for hasable type , but does not work for unhasable such as dictionary
#we can make it work with the dictionary using a small tweak

In [74]:
def remove_duplicates_main_order(items, key=None):
    ''' This is beautiful piece of code that works for both
        hasable or unhasable type with passing key'''
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)

In [80]:
#lets remoce the duplicate dictionary from the list of dictionary
alist = [{'a' : 1, 'b' : 2}, {'a' : 1, 'b' : 2}, {'a' : 11, 'b' : 32}]

In [81]:
key = lambda item : (item['a'], item['b'])
list(remove_duplicates_main_order(alist, key=key))

[{'a': 1, 'b': 2}, {'a': 11, 'b': 32}]

In [ ]:

key = lambda item : item['a']

In [87]:
def remove_duplicate(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)

In [88]:
alist

[{'a': 1, 'b': 2}, {'a': 1, 'b': 2}, {'a': 11, 'b': 32}]

In [89]:
a = remove_duplicate(alist, key = lambda item : item['a'])

In [90]:
list(a)

[{'a': 1, 'b': 2}, {'a': 11, 'b': 32}]

In [95]:
#remove_duplicate method will be also applied to files
#a problem so that we can filter out the duplocate line in  file

with open('lines.txt', 'r') as file:
    for line in remove_duplicate(file):
        print(line , end = '')

hello this is me
hello
this
is
text
my
rovbus
robus

In [115]:
#determinign the most frequently occuring items in sequence
#without using the Counter from the collections
from collections import defaultdict

item_counter = defaultdict(int)
alist = 'asdasdasdasdsdfasd'
for key in alist:
    item_counter[key] += 1

In [116]:
item_counter

defaultdict(int, {'a': 5, 'd': 6, 'f': 1, 's': 6})

In [125]:
#now getting the key and value of highest value
max(zip(item_counter.values(), item_counter.keys()))

(6, 's')

In [127]:
#getting th minimum value
min(zip(item_counter.values(), item_counter.keys()))

(1, 'f')

In [133]:
#The process of making the counter_dict is avalibale through the collections module
from collections import Counter
#making the item_counter
item_counter = Counter(alist)
#GETTING THE MAXIMUM VALUE AND THE KEY
max(zip(item_counter.values(), item_counter.keys()))

#GETTING THE MINIMUM VALUE AND KEY
min(zip(item_counter.values(), item_counter.keys()))

(1, 'f')

In [135]:
#extra feature from the counter is that we can access the top 10 or top
top_3 = item_counter.most_common(3)
top_3

[('d', 6), ('s', 6), ('a', 5)]

In [136]:
#SORTING A DICTIONAERY WITH A COMMON KEY
# a situation where you get the listing of memebers on your website
rows = [
    {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
    {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
    {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
    {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [168]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customise the sort order, and the
    reverse flag can be set to request the result in descending order.

In [169]:
class Vector(object):
    
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [171]:
from random import randrange
alist_vectors = [Vector(randrange(5), randrange(7)) for i in range(12)]

[<__main__.Vector at 0x104b6c390>,
 <__main__.Vector at 0x104b6c860>,
 <__main__.Vector at 0x104b6c470>,
 <__main__.Vector at 0x104b6c908>,
 <__main__.Vector at 0x104b6c780>,
 <__main__.Vector at 0x104b6c748>,
 <__main__.Vector at 0x104b4b390>,
 <__main__.Vector at 0x104b4b240>,
 <__main__.Vector at 0x104b4b5c0>,
 <__main__.Vector at 0x104b88be0>,
 <__main__.Vector at 0x101be16d8>,
 <__main__.Vector at 0x104b5e278>]

In [173]:
#lets sort the vector accorting to the x value
sorted(alist_vectors)

TypeError: unorderable types: Vector() < Vector()

In [178]:
v = Vector(3,4)
hash(v)

-9223372036581385840

In [179]:
#we can sort thte list of vectors using the key function
sorted(alist_vectors, key=lambda v : v.x)

[<__main__.Vector at 0x104b6c780>,
 <__main__.Vector at 0x104b4b5c0>,
 <__main__.Vector at 0x104b6c748>,
 <__main__.Vector at 0x104b5e278>,
 <__main__.Vector at 0x104b4b390>,
 <__main__.Vector at 0x104b4b240>,
 <__main__.Vector at 0x104b6c860>,
 <__main__.Vector at 0x104b6c470>,
 <__main__.Vector at 0x104b6c390>,
 <__main__.Vector at 0x104b6c908>,
 <__main__.Vector at 0x104b88be0>,
 <__main__.Vector at 0x101be16d8>]

In [184]:
for vector in sorted(alist_vectors, key = lambda v : v.x):
    print(vector.x, vector)

0 <__main__.Vector object at 0x104b6c780>
0 <__main__.Vector object at 0x104b4b5c0>
1 <__main__.Vector object at 0x104b6c748>
1 <__main__.Vector object at 0x104b5e278>
2 <__main__.Vector object at 0x104b4b390>
2 <__main__.Vector object at 0x104b4b240>
3 <__main__.Vector object at 0x104b6c860>
3 <__main__.Vector object at 0x104b6c470>
4 <__main__.Vector object at 0x104b6c390>
4 <__main__.Vector object at 0x104b6c908>
4 <__main__.Vector object at 0x104b88be0>
4 <__main__.Vector object at 0x101be16d8>

In [185]:
#now lets sort the list of dictionary with the first_name
rows

[{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

In [186]:
sorted(rows, key=lambda row : row['fname'])

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [187]:
#lets sort with the uid
sorted(rows, key=lambda row:row['uid'])

[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

In [188]:
#for this we can use itemgetter() of the operator module
from operator import itemgetter
sorted(rows, key=itemgetter('uid'))

[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}]

In [189]:
#using this we can also use the multiple keys for the key
#sorting according to the first and last name
sorted(rows, key=itemgetter('fname','lname'))

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [190]:
#this can be also done using the lambda
sorted(rows, key=lambda row : (row['fname'], row['lname']))

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [193]:
#PROBLEM 
rows = [
    {'address': '5412 N CLARK', 'date': '04/01/2012'},
    {'address': '5148 N CLARK', 'date': '07/04/2012'},
    {'address': '5800 E 58TH', 'date': '07/02/2012'},
    {'address': '2122 N CLARK', 'date': '07/03/2012'},
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
    {'address': '1060 W ADDISON', 'date': '07/02/2012'},
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

In [195]:
#sort the dictionary according to date
#get the dict with the minimum date
min(rows, key=lambda row : row['date'])

{'address': '5412 N CLARK', 'date': '04/01/2012'}

In [196]:
#get the dict with the maximum date
max(rows, key=lambda row : row['date'])

{'address': '5148 N CLARK', 'date': '07/04/2012'}

In [197]:
#sorting accorgfin to the date
sorted(rows, key=lambda row : row['date'])

[{'address': '5412 N CLARK', 'date': '04/01/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]

In [201]:
#grouping the dicts according to the date
#using the multidict a key is mapped to multiple values by appendin to a list
rows_by_date = defaultdict(list)
for row in rows:
    rows_by_date[row['date']].append(row)

In [202]:
rows_by_date

defaultdict(list,
            {'04/01/2012': [{'address': '5412 N CLARK', 'date': '04/01/2012'}],
             '07/01/2012': [{'address': '4801 N BROADWAY',
               'date': '07/01/2012'}],
             '07/02/2012': [{'address': '5800 E 58TH', 'date': '07/02/2012'},
              {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
              {'address': '1060 W ADDISON', 'date': '07/02/2012'}],
             '07/03/2012': [{'address': '2122 N CLARK', 'date': '07/03/2012'}],
             '07/04/2012': [{'address': '5148 N CLARK', 'date': '07/04/2012'},
              {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]})

In [203]:
for key , value in rows_by_date.items():
    print(value)

[{'date': '07/03/2012', 'address': '2122 N CLARK'}]
[{'date': '07/04/2012', 'address': '5148 N CLARK'}, {'date': '07/04/2012', 'address': '1039 W GRANVILLE'}]
[{'date': '07/01/2012', 'address': '4801 N BROADWAY'}]
[{'date': '04/01/2012', 'address': '5412 N CLARK'}]
[{'date': '07/02/2012', 'address': '5800 E 58TH'}, {'date': '07/02/2012', 'address': '5645 N RAVENSWOOD'}, {'date': '07/02/2012', 'address': '1060 W ADDISON'}]

In [213]:
#FILTERING THE SEQUNCE OF ELEMENTS FROM THE LIST
alist = [1,2,3,43,5,-3,4,5,6,-3,-5]
#only get the positives from the list
alist = [i for i in alist if i >0]
alist

[1, 2, 3, 43, 5, 4, 5, 6]

In [206]:
#only get the negative values from the list
alist = [1,2,3,4,5,-4,5,6,-4]
alist = [i for i in alist if i <0]
alist

[-4, -4]

In [214]:
#if there is large data set then it is best to use the generator expression rather than than 
#list comprehension
alist = [1,2,3,4,5,67,-45]
alist = (i for i in alist if i >0)
alist

In [215]:
list(alist)

[1, 2, 3, 4, 5, 67]

In [216]:
alist = [3,4,5,6,7,-2,3,4,-5,6,-23]
alist = (i for i in alist if i < 0)
alist

In [217]:
list(alist)

[-2, -5, -23]

In [234]:
#Filterin more complex seqeunce 
values = ['1', '2', '-3', '-', '4', 'N/A', '5']

In [238]:
def is_int(value):
    try:
        x = int(value)
        return True
    except ValueError:
        return False

In [241]:
#use the builtin filter() function to do this complex task
integer_values = list(filter(is_int, values))
integer_values

['1', '2', '-3', '4', '5']

In [2]:
#ADVANTAGE OF LIST comprehension from the filter is that we can 
#manipulate the data while creating the new list
#for example:
alist = [2,3,4,5,67,-7,3,-4]
import math 
square_of_positive = [math.sqrt(num) for num in alist if num>0]
square_of_positive

[1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 8.18535277187245,
 1.7320508075688772]

In [11]:
#another advantage is that we can replacce the value in list comprehension
alist = [3,4,54,65,7,-34,-34]
new_list = [n if n>0 else 0 for n in alist]
new_list

[3, 4, 54, 65, 7, 0, 0]

In [9]:
#reversing the item in the list
alist = list('asvasd')
alist = reversed(alist)
list(alist)

['d', 's', 'a', 'v', 's', 'a']

In [13]:
#however use the generator if there is a large data ser
alist = list('asdsajkhkjasdh')
alist_ite = (ch if ch != 'a' else 'b' for ch in alist)
list(alist_ite)

['b', 's', 'd', 's', 'b', 'j', 'k', 'h', 'k', 'j', 'b', 's', 'd', 'h']

In [16]:
#EXTRACTING A SUBSET OF DICTIONARY
a_dict = {i : str(i) for i in range(4)}

{0: '0', 1: '1', 2: '2', 3: '3'}

In [19]:
#creatgin a subset of the dictionary
subset_dict = {key : value for key, value in a_dict.items() if key < 2}
subset_dict

{0: '0', 1: '1'}

In [36]:
prices = {
    'ACME' : 234,
    'AAPL' : 612,
    'IBM' : 23,
    'FB' : 12
}

In [21]:
#make a dictionary of all the prices over 200
p1 = {key:value for key, value in prices.items() if value > 200}
p1

{'AAPL': 612, 'ACME': 234}

In [24]:
#reverseing the key and value in dictionary
reverse_dict = {value : key for key, value in prices.items()}
reverse_dict

{12: 'FB', 23: 'IBM', 234: 'ACME', 612: 'AAPL'}

In [27]:
#make a dictionary of tech stock 
tech_names = {'AAPL', 'IBM', 'HPQ', 'MSFT'}
p2 = {key : value for key, value in prices.items() if key in tech_names}
p2

{'AAPL': 612, 'IBM': 23}

In [50]:
#we can also create a sequence of tuples and pass it into to dict
prices = {
    'ACME' : 234,
    'AAPL' : 612,
    'IBM' : 23,
    'FB' : 12
}
tech_names = {'AAPL', 'IBM', 'HPQ', 'MSFT'}
tecs = ((key, value) for key, value in prices.items() if key in tech_names)

In [51]:
dict(tecs)

{'AAPL': 612, 'IBM': 23}

In [52]:
#NAMED TUPLES

In [ ]:
#solving the problem of access the item using the index,, 
#accessing the item in the tuple using the names rather than index and having
#the same functionalty as the tuple

#problem , we have a list of sequence of tuples and we want to access them,
#always use the named tuples
from collections import namedtuple
rows = [('robus', 'gauli',12), ('robus', 'gaulis',12), ('robusds', 'gasduli',132)]

In [57]:
for row in rows:
    print(row[0], row[2])

robus 12
robus 12
robusds 132

In [59]:
for fname, *args in rows:
    print(fname)

robus
robus
robusds

In [62]:
#this approach is good but its better to use the named tuple like this
Person = namedtuple('Person', ['fname', 'lname', 'age'])
new_rows = (Person(*row) for row in rows)
for row in new_rows:
    print(row.fname, row.age)

robus 12
robus 12
robusds 132

In [83]:
#REDUCTION FUNCTION
#avg(), sum(), min(), max(),

#transformation like math operation or any other operation for 
#transforming the data
numbers = [3,4,45,56,6,7]

#applying reduction
sum(numbers)

121

In [85]:
#applytiing transformation
squares_numbers = [num * num for num in numbers]
squares_numbers

[9, 16, 2025, 3136, 36, 49]

In [88]:
#COMBINING BOTH USING GENERAOTR EXPRESSION ..CAUTION NOT LIST COMPREHENSION
sum_of_squares = sum(num * num for num in numbers)
sum_of_squares

5271

In [91]:
string = 'string'
string.endswith('g')

True

In [95]:
#determine if the directory contains any .py file
import os
files = os.listdir()
if any(file.endswith('.py') for file in files):
    print('There is a python file')
else:
    print('there is not a python file')

there is not a python file

In [101]:
#Output a csv of a tuple
#using generator expression
a_tuple = ('RObus', 'Gauli', 34)
csv = ','.join(str(x) for x in a_tuple)
csv

'RObus,Gauli,34'

In [102]:
#Data reduction
portfolio = [
{'name':'GOOG', 'shares': 50},
{'name':'YHOO', 'shares': 75},
{'name':'AOL', 'shares': 20},
{'name':'SCOX', 'shares': 65}
]

In [104]:
#getting th minumum share price
m = min(dic['shares'] for dic in portfolio)
m

20